@import './variables';
@import './mixins';

.dashboard{
    background-color: hsla(0, 0%, 98%, 1);
    display: flex;
    flex-direction: column;

    .section{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
    }
}

.dashmain{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 1em;

    h1{
        color: $headingcolor;
        font-weight: 600;
        text-align: left;
    }

    .usercard{
        @include basic-flex;
        margin-top: 2em;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: 20%;
        text-align: left;
        padding-top: 1em;
        padding-left: 2em;
        background: hsla(0, 0%, 100%, 1);
        border-radius: 5px;
        border: 1px solid hsla(220, 58%, 31%, 0.06);
        box-shadow: 3px 5px 20px 0px hsla(0, 0%, 0%, 0.04);

        img{
            width: 20%;
        }

        p{
            color: $textcolor;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
        }

        h2{
            color: $headingcolor;
            margin-top: -5px;
        }
    }

    table{
        padding: 1em;
        margin-top: 2em;
        border-radius: 5px;
        background: hsla(0, 0%, 100%, 1);
        border: 1px solid hsla(220, 58%, 31%, 0.06);
        box-shadow: 3px 5px 20px 0px hsla(0, 0%, 0%, 0.04);

        thead{
            text-align: left;
            height: 50px;
            color: $textcolor;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }

        tbody td{
            text-align: left;
            height: 50px;
            color: $textcolor;
            font-size: 14px;
            font-weight: 500;
        }

        .status{
            @include basic-flex;
        }
        
    }
}

.sidebar{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0px 5px 20px 0px hsla(0, 0%, 0%, 0.04);

    #nav{
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;
        justify-content: space-between;

        p{
            color: $headingcolor;
            font-size: 15px;
            font-weight: 600;
            margin-left: -1em;
        }
    }

    .nav{
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;

        p{
            color: $headingcolor;
            font-size: 15px;
            font-weight: 600;
            margin-left: 1em;
        }
    }

    .heading{
        font-size: 12px;
        font-weight: 600;
        line-height: 14.08px;
        text-align: left;
        color: $textcolor;
        margin-left: 2.5em;
    }
}

header{
    @include basic-flex;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #fff;
    box-shadow: 3px 0px 20px 0px hsla(0, 0%, 0%, 0.04);

    #img1{
        margin-left: 1em;
        width: 10%;
    }

    .search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        border: 1px solid hsla(224, 20%, 41%, 0.15);
        width: 25%;

        input{
          border: none;
          outline: none;
          background-color: transparent;
          margin-left: 1em;
  
          &::placeholder{
            color: $textcolor;
            opacity: 60%;
          }
        }

        #search{
            @include basic-flex;
            background-color: $bgcolor;
            width: 4%;
            padding: 10px 1em;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .extras{
        @include basic-flex;
        width: 25%;
        margin-right: 2em;

        .docs{
            text-transform: capitalize;
            color: $headingcolor;
            font-weight: 600;
        }

        .p1{
            color: $headingcolor;
            font-weight: 600;
            margin-left: -3em;
        }

        .dropdown{
            margin-left: -3em;
        }
    }
}